.corsiva {
    font-family: "Monotype Corsiva", cursive !important;
    font-size: 2rem;
    line-height: 1.4;
}

.no-caret::after {
    display: none !important;
}

.dropdown-menu {
    border: none;
    border-radius: 8px;
}
