@page "/mygroup"
@inject ApiClientService ApiClientService
@inject AssigneeListStateService AssigneeListStateService

@using BlazorBootstrap
@using TaskManager.Application.DTOs
@using TaskManager.Application.UserConnections.DTOs
@using TaskManager.Application.UserConnections.DTOs.Requests
@using TaskManager.Application.UserConnections.DTOs.Responses
@using TaskManager.Application.Users.DTOs
@using TaskManager.Application.Users.DTOs.Responses
@using TaskManager.Presentation.Components.Modals
@using TaskManager.Presentation.Components.Tiles
@using TaskManager.Presentation.Services
@using TaskManager.Presentation.Enums

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@implements IDisposable


<h3 style="text-align: center;"> My Group </h3>
<hr />

<div class="d-flex mb-3 gap-2">
    <input type="search"
           class="form-control flex-grow-1"
           placeholder="Search Users..."
           @bind="assigneeFilter"
           @bind:event="oninput" />

    <Button Type="ButtonType.Button" @onclick="OnShowAssigneeModalAsync">
        <Icon Name="IconName.PlusCircleFill" Size="IconSize.x4" />
    </Button>
</div>
@if (isLoading)
{
    <body>
        <div class="container page-center">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" />
            </div>
        </div>
    </body>
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 px-2">
    @if (!FilteredAssignees.Any() && !isLoading)
    {
       <p>No Assignees Found</p>
    }
    
    @foreach (var assignee in FilteredAssignees)
    {
        <div class="col" @key="assignee.AssigneeId">
            <AssigneeTile Connection="assignee">  </AssigneeTile>
        </div>
    }

</div>

<NewAssigneeModal @ref="newAssigneeModal"> </NewAssigneeModal>

@code {
    private string assigneeFilter = string.Empty;
    private NewAssigneeModal newAssigneeModal = default!;
    private bool isLoading = true; 
    private List<UserConnectionDto> Assignees = new(); 

    private IEnumerable<UserConnectionDto> FilteredAssignees =>
    string.IsNullOrWhiteSpace(assigneeFilter)
        ? Assignees
        : Assignees.Where(a =>
            (a.AssigneeName?.Contains(assigneeFilter, StringComparison.OrdinalIgnoreCase) ?? false)).AsQueryable();


    protected override async Task OnInitializedAsync()
    {
        AssigneeListStateService.OnChange += RefreshState;
        await LoadAssigneesAsync();
        isLoading = false;
    }

    public async void RefreshState()
    {
        await InvokeAsync(async () =>
        {
            var assignees = await AssigneeListStateService.GetAssigneesFromCacheAsync();
            if (assignees is not null)
            {
                Assignees = assignees;
                StateHasChanged();
            }
        });
    }

    public void Dispose()
    {
        AssigneeListStateService.OnChange -= RefreshState;
    }

    private async Task LoadAssigneesAsync()
    {
        var cachedAssignees = await AssigneeListStateService.GetAssigneesFromCacheAsync();
        if (cachedAssignees is not null)
        {
            Console.WriteLine("\n Pulling Assignees From Cache");
            Assignees = cachedAssignees;
            isLoading = false;
            return;
        }

        try
        {
            Console.WriteLine("\n Pulling Assignees From API \n");

            var client = ApiClientService.GetClient();

            var response = await client.GetAsync("api/Account/Assignees");
            if (response is null || !response.IsSuccessStatusCode)
            {
                return;
            }

            var result = await response.Content.ReadFromJsonAsync<List<UserConnectionDto>>();
            if (result is not null)
            {

                await AssigneeListStateService.SetAssigneesInCacheAsync(result);
                var assignees = result;
                Assignees = assignees;
            }
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);
        }

        finally
        {
            isLoading = false;
        }
    }


    private async Task OnDeletedSuccessfully(UserConnectionDto deletedConnection)
    {
        if (deletedConnection is not null)
        {
            await AssigneeListStateService.RemoveFromCacheAsync(deletedConnection);

        }
    }

    private async Task OnShowAssigneeModalAsync()
    {
        await newAssigneeModal.OnShowNewAssigneeModal();
    }
}
