@using BlazorBootstrap
@using System.Threading.Tasks
@using TaskManager.Application.UserConnections.DTOs
@using TaskManager.Application.UserConnections.DTOs.Requests
@using TaskManager.Application.UserConnections.DTOs.Responses
@using TaskManager.Presentation.Components.Modals
@using TaskManager.Presentation.Services
@rendermode InteractiveServer
@inject NavigationManager NavManager
@inject ApiClientService ApiClientService

 
<Card Class="assignee-card">
            <CardBody Class="d-flex flex-column align-items-center justify-content-center"> 

            <Icon Name="IconName.Person" Size="IconSize.x1" />
            <p class="mb-0 fw-bold">@Connection.AssigneeName</p>
            <p class="mb-0 text-muted"> @Connection.AssigneeEmail </p>
                
            <div class="position-absolute top-0 end-0 m-2">
            <Button Type="ButtonType.Button" @onclick="OnShowDeleteAssigneeModal">
                <Icon Name="IconName.Trash" Size="IconSize.x5" />
            </Button>

            </div>
            </CardBody>
    </Card>

<DeleteAssigneeConnectionModal @ref="deleteAssigneeModal" 
                               Connection="Connection"/>

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;
    [Parameter] public required UserConnectionDto Connection { get; init; } 

    private DeleteAssigneeConnectionModal deleteAssigneeModal = default!;

    private async Task OnShowDeleteAssigneeModal()
    {
        await deleteAssigneeModal.ShowAsync();
    }
}
