@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Authorization
@using TaskManager.Presentation.Components
@using TaskManager.Presentation.Components.Modals
@using System.Security.Claims
@using TaskManager.Presentation.Services
@inherits LayoutComponentBase
@inject TokenProviderService TokenProviderService
@inject IHttpContextAccessor HttpContextAccessor

<div class="page">
    <main>
        <NavBar></NavBar>

        <article class="content px-4 mt-4">
            <div class="container-fluid">
                @Body
            </div>
        </article>
    </main>
</div>

<Toasts @rendermode="InteractiveServer" class="p-3" AutoHide="true" Delay="2000" Placement="ToastsPlacement.TopRight" />

@code {
    // protected override void OnInitialized()
    // {
    //     var user = HttpContextAccessor.HttpContext?.User;

    //     if (user?.Identity?.IsAuthenticated == true)
    //         TokenProviderService.Token = user.FindFirstValue("jwt_token");
    // }

    List<ToastMessage> messages = new();

    private void ShowMessage(ToastType type, string message)
    {
        messages.Add(new ToastMessage
        {
            Type = type,
            Message = message,
            AutoHide = !(type == ToastType.Danger || type == ToastType.Warning),
        });
    }
}


