@using BlazorBootstrap
@using TaskManager.Application.UserConnections.DTOs
@using TaskManager.Presentation.Services
@inject ApiClientService ApiClientService
@inject AssigneeListStateService AssigneeListStateService
@inject ProjectStateService ProjectStateService

<Modal @ref="deleteAssigneeModal" Title="Delete Assignee">
    <BodyTemplate>
        <p>Are you sure you want to remove <b> @Connection.AssigneeName </b> from your group?</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideDeleteAssigneeModal">Cancel</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnDeleteAssignee" Disabled="IsDeleteClicked">Delete</Button>
    </FooterTemplate>
</Modal>


@code {

    [Inject] protected ToastService ToastService { get; set; } = default!;
    [Parameter] public required UserConnectionDto Connection { get; set; }

    public Modal deleteAssigneeModal = default!;
    private bool IsDeleteClicked = false;

    public async Task ShowAsync()
    {
        await deleteAssigneeModal.ShowAsync();
    }

    public void OnHideDeleteAssigneeModal()
    {
        deleteAssigneeModal.HideAsync();
    }

    private async Task OnDeleteAssignee()
    {
        IsDeleteClicked = true;

        var client = ApiClientService.GetClient();
        var response = await client.DeleteAsync("api/Account/assignees/" + Connection.Id);

        if (response is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Removing User From Your Group"));
            return;
        }

        if (!response.IsSuccessStatusCode)
        {
            ToastService.Notify(new(ToastType.Danger, await response.Content.ReadAsStringAsync()));
            return;
        }

        ToastService.Notify(new(ToastType.Success, "User Removed From Your Group!"));
        await AssigneeListStateService.RemoveFromCacheAsync(Connection); 
        await ProjectStateService.UnassignUserFromTasks(Connection.AssigneeId); 
        await deleteAssigneeModal.HideAsync();
        IsDeleteClicked = false;
    }
}
