@using BlazorBootstrap
@using TaskManager.Application.Projects.DTOs.Responses
@using TaskManager.Domain.Common
@using TaskManager.Presentation.Components.Pages
@using TaskManager.Presentation.Services

@inject ApiClientService ApiClientService
@inject ProjectStateService ProjectStateService


@* Delete Modal *@

<Modal @ref="deleteProjectModal" Title=Delete>
    <BodyTemplate>
        <DeleteProject></DeleteProject>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideDeleteModalClick">Cancel</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnDeleteProjectClick" Disabled="IsDeleteClicked">Delete</Button>
    </FooterTemplate>
</Modal>

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Parameter] public Guid ProjectId { get; set; }
    // [Parameter] public EventCallback OnSuccessfulDelete { get; set; }

    public bool IsDeleteClicked = false; 

    public Modal deleteProjectModal = default!;

    //Delete Project Modal Methods

    public async Task OnShowDeleteProjectModalClick()
    {
        await deleteProjectModal.ShowAsync();

    }

    private async Task OnHideDeleteModalClick()
    {
        await deleteProjectModal.HideAsync();
    }

    private async Task OnDeleteProjectClick()
    {
        IsDeleteClicked = true;
        var client = ApiClientService.GetClient(); 
        var response = await client.DeleteAsync($"api/projects/{ProjectId}");
        var result = await response.Content.ReadFromJsonAsync<DeleteProjectResponse>(); 

        if (response is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Deleting Project"));
            return;
        }

        if (!response.IsSuccessStatusCode || result is null)
        {
            ToastService.Notify(new(ToastType.Danger, await response.Content.ReadAsStringAsync()));
            return;
        }

        if (response.IsSuccessStatusCode)
        {
            await ProjectStateService.RemoveProject(result.ProjectId);
            // await OnSuccessfulDelete.InvokeAsync();
            ToastService.Notify(new(ToastType.Success, "Project Deleted Successfully!"));
            await deleteProjectModal.HideAsync();
        }

        IsDeleteClicked = false; 
    }
}

