@using BlazorBootstrap
@using TaskManager.Application.TodoItems.DTOs
@using TaskManager.Application.TodoItems.DTOs.Responses
@using TaskManager.Presentation.Components.Pages
@using TaskManager.Presentation.Enums



@* Edit Modal *@

<Modal @ref="editModal" Title="Edit Task" Size="ModalSize.Large">
    <BodyTemplate>
        <EditTodoItem TodoItem="@TodoItem" @ref="_editTodoItemForm" 
                  OnShowNewAssigneeModalClick="OnShowNewAssigneeModal"
                  OnRestoreEditTodoItemModal="RestoreModal"
                  ProjectId="ProjectId"> </EditTodoItem>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideEditModalClick">Close</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnUpdateTaskModalClick" Disabled="IsUpdateClicked" >Update</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter] public Guid ProjectId { get; set; }
    [Parameter] public EventCallback OnRestoreEditModalClick { get; set; }
    [Parameter] public EventCallback<NewAssigneeCallingOriginEnum> OnShowNewAssigneeModalClick { get; set; }

    private string todoName = string.Empty;
    private Modal editModal = default!;
    private EditTodoItem _editTodoItemForm = default!;
    private Guid editModalGuid = Guid.Empty;
    private bool IsUpdateClicked = false;
    private TodoItemEntry TodoItem {get; set;}

    public TodoItemModel model = new TodoItemModel();

    public async Task OnShowEditModalClick(TodoItemEntry todoItem)
    {
        TodoItem = todoItem;
        todoName = todoItem.Title;
        editModalGuid = todoItem.Id;

        await editModal.ShowAsync();
    }


    public async Task OnHideEditModalClick()
    {
        await editModal.HideAsync();
    }

    private async Task OnUpdateTaskModalClick()
    {
        IsUpdateClicked = true;
        await _editTodoItemForm.UpdateTodoItem();
        await editModal.HideAsync();
        IsUpdateClicked = false;
    }

    public async Task OnShowNewAssigneeModal(TodoItemModel passedModel)
    {
        model = passedModel;

        await OnShowNewAssigneeModalClick.InvokeAsync(NewAssigneeCallingOriginEnum.EditTodoItem);
        await editModal.HideAsync();
    }

    public async Task RestoreModal()
    {
        await editModal.ShowAsync();
        _editTodoItemForm.RestoreForm();
    }
}
