@using BlazorBootstrap
@using TaskManager.Application.DTOs.Requests
@using TaskManager.Application.UserConnections.DTOs
@using TaskManager.Application.UserConnections.DTOs.Requests
@using TaskManager.Application.Users.DTOs.Responses
@using TaskManager.Presentation.Components.Pages
@using TaskManager.Presentation.Services
@using TaskManager.Presentation.Enums

@inject ApiClientService ApiClientService
@inject AssigneeListStateService AssigneeListStateService
@inject TodoItemDraftStateService TodoItemDraftStateService

<Modal @ref="newAssigneeModal" Title="New Assignee">
    <BodyTemplate>
        <p>Email:</p>
        <div>
            <div class="d-flex mb-3 gap-2">
                <input type="text"
                       class="form-control"
                       placeholder="johndoe@gmail.com"
                       @bind="email"
                       disabled="@AssigneeFound" />

                <Button Color="ButtonColor.Dark" @onclick="SearchForUser" Disabled="@AssigneeFound"><Icon Name="IconName.Search" /></Button>

            </div>
        </div>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnCancelClick">Close</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnSaveAssigneeModalClick" Disabled="@(!AssigneeFound)">Add</Button>
    </FooterTemplate>
</Modal>

@code{
    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Parameter] public EventCallback OnAssigneeSaved { get; set; }
    [Parameter] public EventCallback OnCanceled { get; set; }

    private Modal newAssigneeModal = default!;

    private bool AssigneeFound = false;
    private string email = string.Empty;
    private Guid AssigneeId { get; set; } = Guid.Empty;

    public async Task OnShowNewAssigneeModal()
    {
        await newAssigneeModal.ShowAsync();
    }

    public async Task OnCancelClick()
    {
        await newAssigneeModal.HideAsync();
        await OnCanceled.InvokeAsync();
    }

    public async Task SearchForUser()
    {
        if (string.IsNullOrWhiteSpace(email))
        {
            ToastService.Notify(new(ToastType.Danger, "Please Enter An Email"));
            return;
        }

        var client = ApiClientService.GetClient();
        var response = await client.GetAsync($"api/Account/Search/{email}");

        if (response is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Adding Assignee To Your Group"));
            return;
        }

        else if (!response.IsSuccessStatusCode)
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            ToastService.Notify(new(ToastType.Danger, errorMessage));
            return;
        }

        var result = await response.Content.ReadFromJsonAsync<GetUserResponse>();
        if (result is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Adding Assignee To Your Group"));
            return;
        }

        email = result.Email;
        AssigneeId = result.Id;
        AssigneeFound = true;

        ToastService.Notify(new(ToastType.Success, "User Found!"));
    }

    public async void OnSaveAssigneeModalClick()
    {
        var assignee = new GetUserResponse
        {
            Email = email,
            Id = AssigneeId
        };

        var request = new CreateUserConnectionRequest
        {
            AssigneeId = AssigneeId,
        };

        var client = ApiClientService.GetClient();
        var response = await client.PostAsJsonAsync($"api/Account/assignees", request);

        if (response is null)
        {
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Adding New Assignee"));
            return;
        }

        else if (!response.IsSuccessStatusCode)
        {
            ToastService.Notify(new(ToastType.Danger, await response.Content.ReadAsStringAsync()));
            return;
        }

        var result = await response.Content.ReadFromJsonAsync<UserConnectionDto>();
        if (result is not null)
        {
            await AssigneeListStateService.SetAssigneeInCacheAsync(result);

            TodoItemDraftStateService.SetAssigneeInModel(result);

            ToastService.Notify(new(ToastType.Success, "User Added To Your Group!"));
            await OnAssigneeSaved.InvokeAsync();
        }

        await newAssigneeModal.HideAsync();
    }
}